.result__container {
  font-family: 'Noto Sans KR', sans-serif;
}

.loader {
  width: 100%;
  line-height: 700px;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.result {
  background-color: #eff3f7;
  position: absolute;
  transform: translateX(-50%);
  width: 410px;
}

.result_div p {
  font-size: 16px;
}